
<html>
   <head>
        <title>User Profile</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <style>
        body
        {
            background-color: #1B1F2A;
        }
        h1
        {
          color:white;
        }
        li
        {
          color:white;
        }
         li a{
           color:white;
         }
        </style>
        <style>
table{
    border: 1px solid white;
}
th{
  padding: 15px;
     text-align: left;
}
td {
  border: 1px solid white;
    height: 50px;
    vertical-align: bottom;
    padding: 15px;
       text-align: left;
}
h1
{
  color: black;
}
div p {
  color:white;
}
table{
color:  white;
}
</style>
    </head>
    <body>



<div class="container">
<header class="jumbotron"><div id="something"> <h1> Welcome User <%= user %>!! </h1> </div>
<p> <a href="/index"><strong>Click here to go to stackoverflow</strong></a><br/> </p>
<p> <a href="/index2"><strong>Click here to go to visualization </strong></a><br/> </p>
</header>



<div> <p > Actions logged in by User </p> </div>

<!-- <% result.forEach(function(clicks) { %>
<p> User <%= clicks.username %> did this action <strong> <%= clicks.action %> </strong> on <%= clicks.clickTime %> </p>
<% }) %> -->

 <table style="width:100%;">
   <tr>
   <th>User</th>
   <th>Action</th>
   <th>Timestamp</th>
 </tr>
 <% result.forEach(function(clicks) { %>
 <tr>
    <td><%= clicks.username %></td>
    <td><%= clicks.action %></td>
    <td><%= clicks.clickTime %></td>
  </tr>
   <% }) %>
 </table>

<br/>
<br/>
<p> Last time the user <%= user %> logged in : <%=date %></p>


<h3 style="color:white"> Why do you decide to log these actions? </h3>

<p style="color:white">
  The 5 main actions I am tracking are Clicking, Asking Questions, Comments, Scroll and Vote.
I have tracked these actions on the Stack Overflow Page provided in the link.
I am going to explain why exactly I logged these actions.
</p>
<ol style="color:white">
  <li>  Clicks
    <p> Whenever a user clicks on a link or clicks on a particular text, I log them as click action. By taking into consideration click action, we can get an idea of what the user is interested in or what his/her intention was before entering the website. If a user clicks on a particular link and then follows up on the hyperlinks of the link clicked, then we can be sure to say that the user is interested in that particular subject he/she clicked on, if say a link leads to Java->Classes-> Inheritance, we get the idea. </p>
  </li>
  <li>Scroll
    <p>I have included the scroll action for the whole window, so whenever a user scrolls anywhere in the window page, I log them as scroll action. I personally feel scroll action can give us abundant data about the user and helps us easily build a user profile. If a user scrolls through a page, we can infer that he/she is looking to find some data, they are either researching on a particular topic or browsing the website to find something that interests them. For instance, if the user scrolls and reaches the end of the page, then we know that the information the user is looking for is not present in that page and hence he/she will move on to the next page. Then from next time if the user wants to look for that particular information then he/she will directly go to the particular page, instead of scrolling on the previous page and then going to the next page.</p>
  </li>
  <li>
    Asked Question
    <p>The action clicks, and asked question go hand in hand, but are different actions. So when the user clicks on certain tags like "Java"," String" or "nullpointer" and so on, I am tagging them as Asked question. This is intuitive because this provides us with the information that the user is interested in this particular topic and hence is looking to see information in this area and asks questions on this domain. This is basically to understand the domain of interest of the user.  If the user asks a question, then we can infer that he/she is unsure of the approach they are using and would need some help to proceed or simply that they are looking to learn more about the topic. </p>
  </li>
  <li> Comments
    <p> Comment action is recorded when a user fires a keyboard press, this happens when he/she goes to the textbox to type something, then I am categorizing it as comments.
By the comment action, we can get to know more about the user. For example, in the comment section if the user gives out answers then we can get an idea that the user is pretty good at the subject as he is confident enough to provide an answer. If he is pretty active and comments a lot, then we can say that the user is interested in not only learning more about also interested in helping other people and sharing the knowledge. There are a lot of things we can infer from this action; hence comments were one of the actions I tracked.
</p>
  </li>
  <li>Vote
    <p>This is another action I thought would help me understand user profiling in depth. The stack overflow page has either Vote Up/Vote Down for comments, answers, questions and so on. If the user Up votes on a lot of subjects then we are safe to assume that the user has read the text, understood the context and thinks that it is a right answer or comment. This helps us know that the user is actually very interested in the subject and is an active user on the platform. If there are lot of Up Votes on certain tagged subjects, then we can also obtain that he/she is passionate about the subject. </p>
  </li>
</ol>
<li> <a href="/register">Sign Up</a> </li>
 <li> <a href="/login">Login</a> </li>
 <li> <a href="/logout">Logout</a> </li>
</div>
  </body>
      <script src="client.js"></script>
  </html>
